<!-- MENU FOR VIEW -->
<div class="ui-g h-100">
  <!-- gaugeRawParams : {{ gaugeRawParams | json }} -->
  <div class='ui-g-12 no-padding-side'>
    <app-visualization-menu 
    [dashboardSaving]="true"
    (dashboardSaved)="onDashboardSave($event)"
    [dashboardSelector]="true"
    [dashboard]="dashboard"
    (gaugeAdded)="onGaugeAdded()"
    (dashboardChange)="onDashboardChanged($event)"
    (dashboardUpdated)="onDashboardUpdated($event)"
    [timeRangeSelector]="true"
    [(timeRange)]="timeRange"     
    [autoRefreshIntervalSelector] = "true"
    [(autoRefreshInterval)]="autoRefreshInterval"></app-visualization-menu>
  </div>   
  <!-- gaugeConfigs : {{ gaugeConfigs | json }} -->
  <div class='ui-g-12' *ngIf="dashboard && gaugeConfigs.length !== 0">      
    <div class='ui-g h-100'>
      <div class='ui-g-12'>    
          <ng-container *ngIf="!error">            
            <div *ngFor="let dummy of ' '.repeat(gaugeRawParams.length).split(''), let i = index">
              <button class="btn btn-success" (click)="showEditGaugeForm(i)">Edit</button>
              <button class="btn btn-danger" (click)="deleteGauge(i)">Delete</button>
              <app-gauge-chart [min]="gaugeRawParams[i].min" [max]="gaugeRawParams[i].max" 
              [greenZones]="gaugeRawParams[i].greenZones" [label]="gaugeRawParams[i].label"
              [yellowZones]="gaugeRawParams[i].yellowZones" [redZones]="gaugeRawParams[i].redZones"
              [value]="gaugeRawParams[i].value" [idContainer]="'gaugeContainer' + i"></app-gauge-chart>
            </div>
          </ng-container>
          <ng-container *ngIf="error">
            Some value of tag could not be found.
          </ng-container>
        </div>       
    </div>
  </div>  
  <div class='ui-g-12' *ngIf="!dashboard">
    No dashboard selected (TODO button to open menu)
  </div>
  <div class='ui-g-12' *ngIf="dashboard && gaugeConfigs.length === 0">
    Empty dashboard (you can add a new gauge in top rigth menu)
  </div>
  <p-dialog [(visible)]="displayGaugeForm" [modal]="true">
      <!-- (onShow)="centerEditTagDialog()" -->
    <p-header>
        Configure your new gauge
    </p-header>
      <app-gauge-form [questions]="gaugeEditQuestions"  [formOperation]='gaugeFormOperation'
      [item]="gaugeForForm" (submitted)="onGaugeConfigChange($event, selectedGaugeIndex)"></app-gauge-form>
    <p-footer>
    </p-footer>
  </p-dialog>
</div>
