::ng-deep .ui-dialog.gauge-form-dialog {
  width: 100%;
  max-width: 1000px;
}

.panel-item {
  padding: 20px 20px;
}

ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;

  &.horizontal {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

