.panel-header-container {
  display: flex;
  justify-content: center;  
}
.panel-main-container {
  display: flex;
  justify-content: center;  
}
::ng-deep .ui-dialog.gauge-form-dialog {
  width: 100%;
  max-width: 1000px;
}
