.panel-header-container {
  display: flex;
  justify-content: center;  
}
.panel-main-container {
  display: flex;
  justify-content: center;  
}
::ng-deep .ui-dialog.gauge-form-dialog {
  width: 100%;
  max-width: 1000px;
}
.box {
  /* background-color: blueviolet; */
  border: 1px solid black;
  padding: 10px 20px;
  display: inline-block;
}