<div class="ui-g">  
  <!-- SELECT VIEW -->
  <app-select-view [view]="view" (viewChange)="onViewChanged($event)"></app-select-view>
  <!-- OPTION FOR VIEW -->
  <div class='ui-g-12'>
    <app-visualization-menu [(timeRange)]="timeRange" 
    [(autoRefreshInterval)]="autoRefreshInterval" 
    (tagSelectionChange)="onSelectionChanged($event)"
    [timeRangeSelector]="view !== 'tabular'"></app-visualization-menu>
  </div>
  <!-- MAIN CONTENT -->
  <ng-container *ngIf="tagSelectionId && tagsSelection$ | async as tagsSelection">
    <div class="ui-g-3 ui-sm-12">          
      <app-historian-tag-tree [selectedTags]="tags"></app-historian-tag-tree>      
    </div>      
    <div class='ui-g-9' *ngIf="view === 'lineChart'">
      <app-line-chart [tags]="tags" [refreshRate]="autoRefreshInterval.refrashInterval" [timeRange]="timeRange"></app-line-chart>
    </div>   
    <div class='ui-g-9' *ngIf="view === 'tabular'">      
      <app-tag-dataview [tags]="tags" [refreshRate]="autoRefreshInterval.refrashInterval"></app-tag-dataview>
    </div>
  </ng-container>
  <ng-container *ngIf="!tagSelectionId">
    <p>Please create or select a set of tag to start</p>
  </ng-container>
</div>