<button class="btn h-100 w-100 no-padding"
        title="{{centerLabel}} {{topRightLabel}}"
        [class.active]="isActive">
        <!-- {{centerLabel}} -->
    <span class="badge badge-pill badge-primary">{{centerLabel}}</span>
    <!-- <span class="badge badge-pill badge-secondary badge-top-right-label">yo</span> -->
    <!-- <span class="badge badge-pill badge-info badge-botttom-right-label">hi</span> -->
    <!-- badge-center-label -->
    <span class="badge badge-light badge-top-right-label">{{topRightLabel}}</span>
    <span class="badge badge-light badge-botttom-right-label">{{bottomRightLabel}}</span>
</button>
