<button class="btn h-100 w-100 no-padding datasource-element-btn"
        title="{{centerLabel}} {{topRightLabel}}"
        [class.active]="isActive">
        <!-- {{centerLabel}} -->
    <span class="badge badge-pill servername">{{centerLabel}}</span>
    <!-- <span class="badge badge-pill badge-secondary badge-top-right-label">yo</span> -->
    <!-- <span class="badge badge-pill badge-info badge-botttom-right-label">hi</span> -->
    <!-- badge-center-label -->
    <span class="badge badge-pill ">{{topRightLabel}}</span>
    <span class="badge badge-pill ">{{bottomRightLabel}}</span>
</button>
