<div [formGroup]="form">    
  <div [formArrayName]="question.key" class="form-control" [id]="question.key">
    <div *ngFor="let control of formArray.controls; let i=index" [formGroupName]="i">      
      
      <div style="margin-left: 1em;">
        <div *ngFor="let subQuestion of question.questions" class="form-row">
          <app-question [question]="subQuestion" [form]="control"></app-question>
        </div>

        <button (click)="removeItem(i)" type="button">Remove this from {{question.label}}</button>
      </div>
      <br>
    </div>

    <button (click)="addItem()" type="button">Add one more in {{question.label}}</button>
  </div>
</div>