
<script>


    var context = cubism
        .context()
        .serverDelay(5 * 1000)
        .step(5000)
        .size(1280);

    var chronix = context.chronix(
        {"host": 'http://localhost:8983', "uriPathPrefix": '/solr/chronix/select'}
    );

    var load_metrics = [
            #foreach($doc in $response.results)chronix.metric({"metricName": "$doc.get('name').replace("\", "\\\\")"})
.alias("$doc.get('name').replace("\", " ")"), #end];

        d3
            .select("body")
            .selectAll(".axis")
            .data(["top", "bottom"])
            .enter()
            .append("div")
            .attr("class", function (d) {
                return d + " axis";
            })
            .each(function (d) {
                d3
                    .select(this)
                    .call(context.axis().ticks(12).orient(d));
            });

        d3
            .select("#content")
            .append("div")
            .attr("class", "rule")
            .call(context.rule());

        d3
            .select("#content")
            .selectAll(".horizon")
            .data(load_metrics)
            .enter()
            .insert("div", ".bottom")
            .attr("class", "horizon")
            .call(context.horizon().format(d3.format("+,.2p")));

        context.on("focus", function (i) {
            d3
                .selectAll(".value")
                .style(
                    "right",
                    i == null
                        ? null
                        : context.size() - i + "px"
                );
        });

     
</script>