<!DOCTYPE html>


<head>
  #parse("head.vm")
</head>
  <body>
  <div class="page-container row-fluid">

    <div id="content">
      $content
    </div>
    <div id="scripts">
      #parse("scripts.vm")
    </div>
  </div>

  </body>
</html>
