

      <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->


      <!-- CORE JS FRAMEWORK - START -->
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/js/jquery-1.11.2.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/js/jquery.easing.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/bootstrap/js/bootstrap.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/pace/pace.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/viewport/viewportchecker.js&contentType=text/javascript" type="text/javascript"></script>
      <!-- CORE JS FRAMEWORK - END -->


      <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
      <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

      <!-- CORE TEMPLATE JS - START -->
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/js/scripts-logisland-historian.js&contentType=text/javascript" type="text/javascript"></script>
     <script>
       #parse("assets/js/scripts-logisland-historian.js")
       </script>
      <!-- END CORE TEMPLATE JS - END -->
