

      <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->


      <!-- CORE JS FRAMEWORK - START -->
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/js/jquery-1.11.2.min.js&contentType=text/javascript" type="text/javascript"></script>
      ## <script type="text/javascript" src="#{url_root}/js/lib/jquery-1.7.2.min.js"></script>
      ## <script type="text/javascript" src="#{url_for_solr}/admin/file?file=/velocity/jquery.autocomplete.js&contentType=text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/d3.v2.min.js&contentType=text/javascript" charset="utf-8"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/cubism.v1.js&contentType=text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/js/jquery.easing.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/bootstrap/js/bootstrap.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/pace/pace.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/viewport/viewportchecker.js&contentType=text/javascript" type="text/javascript"></script>
      <!-- CORE JS FRAMEWORK - END -->


      <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/jstree/jstree.min.js&contentType=text/javascript" type="text/javascript"></script>
      ## <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
      ## <script src="http://square.github.io/cubism/cubism.v1.js"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/datatables/js/jquery.dataTables.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js&contentType=text/javascript" type="text/javascript"></script>
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js&contentType=text/javascript" type="text/javascript"></script>
      <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

      <!-- CORE TEMPLATE JS - START -->
      <script src="#{url_for_solr}/admin/file?file=/velocity/assets/js/scripts-logisland-historian.js&contentType=text/javascript" type="text/javascript"></script>
      <!-- END CORE TEMPLATE JS - END -->




<script>
  $(document).ready(function() {

    d3
      .select("body")
      .append("p");
    $("\#q")
      ## .autocomplete('#{url_for_solr}/terms', {
      ##   ## backslash escaped# q as that is a macro defined in VM_global_library.vm
      ##   extraParams: {
      ##     'terms.prefix': function() {
      ##       console.log($("\#q").val());
      ##       return $("\#q").val();
      ##     },
      ##     'terms.sort': 'count',
      ##     'terms.fl': 'name',
      ##     'wt': 'velocity',
      ##     'v.template': 'suggest'
      ##   }
      ## })
      .keydown(function(e) {
        if (e.keyCode === 13) {
          $("#query-form").trigger('submit');
        }
      });

    ## // http://localhost:8983/solr/collection1/terms?terms.fl=name&terms.prefix=i&terms.sort=count&wt=velocity&v.template=suggest
  });
</script>


<script>


    var context = cubism
        .context()
        .serverDelay(5 * 1000)
        .step(5000);
        ## .size(1280);

    var chronix = context.chronix(
        {"host": 'http://localhost:8983', "uriPathPrefix": '/solr/chronix/select'}
    );

    var load_metrics = [
            #foreach($doc in $response.results)chronix.metric({"metricName": "$doc.get('name').replace("\", "\\\\")"})
.alias("$doc.get('name').replace("\", " ")"), #end];

        d3
            .select("body")
            .selectAll(".axis")
            .data(["top", "bottom"])
            .enter()
            .append("div")
            .attr("class", function (d) {
                return d + " axis";
            })
            .each(function (d) {
                d3
                    .select(this)
                    .call(context.axis().ticks(12).orient(d));
            });

        d3
            .select("#graph")
            .append("div")
            .attr("class", "rule")
            .call(context.rule());

        d3
            .select("#graph")
            .selectAll(".horizon")
            .data(load_metrics)
            .enter()
            .insert("div", ".bottom")
            .attr("class", "horizon")
            .call(context.horizon().format(d3.format("+,.2p")));

        context.on("focus", function (i) {
            d3
                .selectAll(".value")
                .style(
                    "right",
                    i == null
                        ? null
                        : context.size() - i + "px"
                );
        });
        $(document).ready(function() {
          $('.top.axis').prependTo("#graph");
          $('.bottom.axis').appendTo("#graph");
        });
</script>
