.view-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
  border-bottom: 1px solid grey;
}

.view-menu-element {
  padding: 8px;
}

.view-menu-element.active {
  border-bottom: 2px solid blue;  
}

.fa {
  padding: 4px;
}