TAGS LIST
Select a TAG or multiple tags to edit or add to collection


<button type="button" class="btn btn-outline-primary text-uppercase"
    (click)="onAddToDataset()">
    ADD SELECTION TO DATA SET
</button>

<button type="button" class="btn btn-danger text-uppercase"
          (click)="onRemoveFromDataset()">
    REMOVE SELECTION FROM DATA SET
</button>

<button type="button" class="btn btn-outline-primary text-uppercase"
          (click)="refresh()">
    REFRESH TREE
</button>


<app-js-tree [jsonData]="treeDataTag"></app-js-tree>
