@import "~@angular/cdk/overlay";
@include cdk-overlay();

.draggable {
  cursor: move;
  user-select: none;
}
.draggable.dragging {
  background-color: coral;
}
.draggable.sortable.dragging {
  background: none;
  border: 1px dashed black;
  color: transparent;
}
.movable:not(.dragging) {
  background-color: green;
  transition: transform 300ms ease-in-out;
}
