<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-lg-12 col-md-12 pt-0 pb-0">

      <div class="row mt-0 h-100">
        <div class="col-lg-4"
             [ngClass]="{'col-md-4' : !isHelpHidden(), 'col-md-6 col-lg-6' : isHelpHidden()}">
          <div class="card h-100">

            <div class="card-body">
              <button type="button" class="btn btn-outline-primary text-uppercase float-right" (click)="onClickAddDatasource()">Add Data source</button>
              <app-datasource-form [datasource]="selectedDatasource"
                                   [isCreation]="isCreation"
                                   (submitted)="onSubmitted($event)"></app-datasource-form>

            </div>
          </div>
        </div>

        <div class="col-lg-4"
             [ngClass]="{'col-md-4' : !isHelpHidden(), 'col-md-6 col-lg-6' : isHelpHidden()}">
          <div class="card h-100 datasources-list">

            <div class="card-body">

              <h6 _ngcontent-c2="" class="text-uppercase"
                  i18n="data sources|text above data sources list">
                data sources
                <small _ngcontent-c2="" class="text-muted">data sources list</small>
              </h6>

              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 ">
                  <app-search [placeHolder]="filterPlaceHolder"
                              (queryString)="onFilterQuery($event)"></app-search>
                </div>
              </div>

              <app-datasources-list [dataSet]="dataSet"
                                    [selectedDatasource]="selectedDatasource"
                                    (selectedDatasourceE)="onSelectDatasource($event)"></app-datasources-list>
            </div>
          </div>
        </div>

        <div class="help-content col-lg-4"
             [ngClass]="{'col-md-4' : !isHelpHidden(), 'col-md-6 col-lg-6' : isHelpHidden()}"
             *ngIf="!isHelpHidden()">
          <div class="card h-100">
            <div class="card-body">
              <app-datasource-help></app-datasource-help>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="navbar footer fixed-bottom footer-light footer-shadow content container-fluid">
  <div class="col-lg-12 col-md-12 ">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <!-- <button class="btn btn-primary btn-md btn-block text-uppercase float-left">
          <i class="fa fa-arrow-left float-left"></i> DATA SOURCES
        </button> -->
      </div>
      <div class="col-lg-6 col-md-6">
        <button type="button" class="btn btn-primary btn-md btn-block text-uppercase float-right" (click)="goToTags()" [disabled]="datasetIsEmpty()">Tags
          <i class="fa fa-arrow-right float-right"></i>
        </button>
      </div>
    </div>
  </div>

</footer>
