<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-8 pt-0 pb-0">

      <div class="row mt-0">
        <div class="col-6 border-right border-bottom border-top">
          <app-datasource-form #dsForm 
                              [datasource]="selectedDatasource" 
                              (submitted)="list.getDatasources()"></app-datasource-form>
        </div>
        
        <div class="col-6 border-bottom border-top">
          <button type="button" class="btn btn-outline-primary text-uppercase" (click)="dsForm.resetForm()">Add Data source</button>

          <app-datasources-list [dataSet]="dataSet"
                                (selectDatasource)="onSelectDatasource($event)"
                                #list></app-datasources-list>    
        </div>
        <div class="col-12 border-bottom">
          <div class="row">
              <button type="button" class="btn btn-outline-primary text-uppercase" 
                      (click)="goToTags()"
                      [disabled]="datasetIsEmpty()">Tags</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 border-right border-right border-left border-bottom border-top">
      <p>aide, explication, consignes</p>
      <br>
      <br>
    </div>
  </div>
</div>