<nav id="sources-and-tags-nav" class="nav nav-pills nav-fill text-uppercase border-bottom ">
  <!-- <a class="nav-item nav-link rounded-0 col-4 border-right" -->
  <a class="nav-item nav-link rounded-0 col-6 border-right"
    routerLinkActive="active"
    routerLink="./datasources"
    i18n="data sources|data sources link">
    DATA SOURCES
  </a>
  <!-- <a class="nav-item nav-link rounded-0 col-4 border-right"     -->
  <a class="nav-item nav-link rounded-0 col-6 border-right"
     routerLinkActive="active"
     routerLink="./tags"
     i18n="tags|tags link">
    TAGS
  </a>
  <!-- <a class="nav-item nav-link rounded-0 col-4"
    routerLinkActive="active"
    routerLink="./configuration"
    i18n="configuration|logisland configuration">
    CONFIGURATION
  </a> -->
</nav>

<router-outlet></router-outlet>
