<div class="container-fluid">
    <!-- Tabs to manage datasource and tags    -->
    <div id="sources-and-tags-nav" class="row align-items-center">      
        <div class="col-sm" routerLinkActive="active" routerLink="./datasources">
          <h1>DATA SOURCES</h1>
        </div>
        <div class="col-sm" routerLinkActive="active" routerLink="./tags">
          <h1>TAGS</h1>
        </div>       
        <div class="col-sm" routerLinkActive="active" routerLink="./configuration">
          <h1>CONFIGURATION</h1>
        </div>
    </div>

    <router-outlet></router-outlet>
  </div>