<nav id="sources-and-tags-nav" class="nav nav-pills nav-fill text-uppercase border-bottom ">
  <a class="nav-item nav-link rounded-0 col-4 border-right" 
    routerLinkActive="active" 
    routerLink="./datasources">
    DATA SOURCES
  </a>
  <a class="nav-item nav-link rounded-0 col-4 border-right"    
     routerLinkActive="active" 
     routerLink="./tags">
    TAGS
  </a>
  <a class="nav-item nav-link rounded-0 col-4"   
    routerLinkActive="active" 
    routerLink="./configuration">
    CONFIGURATION
  </a>
</nav>

<router-outlet></router-outlet>
