<div class="ui-g w-100" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
  <div class="ui-g-12">
    <ng-container *ngIf="notFound">
      <!-- <div class="ui-g-12 ui-md-12" style="text-align:center"> -->
          No stat found for this tag !
      <!-- </div> -->
    </ng-container>
    <ng-container *ngIf="!notFound">
      <div class="ui-g-2 ui-md-3" style="text-align:center">
          Name:<b>{{tag.tag_name}}</b>
      </div>
      <div class="ui-g-2 ui-md-3" style="text-align:center">
          Description:<b>{{tag?.description}}</b>
      </div>
      <div class="ui-g-2 ui-md-3" style="text-align:center">
          Type:<b>{{tag.data_type}}</b>
      </div>
      <div class="ui-g-2 ui-md-3" style="text-align:center">
          <span *ngIf="lastRefreshed">(tag last refreshed at {{lastRefreshed | date:'mediumTime'}})</span>
      </div>
      <ng-container *ngIf="stats">
        <div *ngFor="let agg of stats.functions" class="ui-g-4">
          <span class='important-agg' *ngIf="agg.name === 'last'">
              <b>{{agg.name}} : {{agg.value}}</b>
          </span>
          <ng-container *ngIf="agg.name !== 'last'">
              {{agg.name}} : {{agg.value}}
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
