div.form-group {
  /* width: 200px;   */
}

/* @media (min-width: 768px) {
 
} */
#zoneranges .sub-questions {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, auto)) 40px 40px;
  /* grid-template-columns: repeat(5, minmax(100px, auto)); */
  grid-template-rows: repeat(auto-fit, minmax(20px, auto));
}

#zoneranges .sub-questions .form-control {
  display: inline-block;
  width: auto;
  min-width: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

#zoneranges .sub-questions .errorMessage {
  margin-left: 5px;
  margin-right: 5px;
}
