<header class="row">
  <nav id="main-nav"  class="navbar navbar-expand-lg navbar-dark bg-primary col-lg-12 col-md-12">
        <a class="nav-toggle" href="#sidebar" data-toggle="collapse">
            <i class="fa fa-navicon fa-lg"></i>
        </a>
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" class="img-fluid rounded mx-auto d-block">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link help" (click)="toggleHelp()">
                        <i class="fa fa-question-circle " aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item avatar">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" alt="avatar image">     
                </li>
                <li class="nav-item">
                    <b>{{username}}</b>
                </li>
                <li class="nav-item logout">
                    <a [href]="logoutUrl" i18n="logout|to logout from the session">
                        <i class="align-middle fa fa-sign-out fa-3x" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="row content ui-g">
    <div class="ui-g-2 col-md-2 col-xs-1 p-l-0 p-r-0 collapse in show h-100" id="sidebar">
        <div class="list-group panel">
            <!-- START menu-settings -->
            <a href="#menu-settings" class="list-group-item" data-toggle="collapse" data-parent="#sidebar" aria-expanded="true">
            <i class="fa fa-cogs"></i>
            <span class="hidden-sm-down">Settings</span>
            </a>
            <div class="collapse show sub-menu" id="menu-settings">
            <a routerLinkActive="active" routerLink="/sources-and-tags/datasources" class="list-group-item" data-parent="#menu-settings"><i class="fa fa-plug" aria-hidden="true"></i>Datasources</a>
            <!-- <a routerLinkActive="active" routerLink="/sources-and-tags/tags" class="list-group-item" data-parent="#menu-settings"><i class="fa fa-tags" aria-hidden="true"></i>Tags</a> -->
            </div>
            <!-- START menu selection -->
            <!-- <a routerLinkActive="active" routerLink="/selections" class="list-group-item"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>Selection</a> -->
            <!-- START menu-visualization -->
            <a href="#menu-visualization" class="list-group-item" data-toggle="collapse" data-parent="#sidebar" aria-expanded="true">
                <i class="fa fa-eye" aria-hidden="true"></i>
            <span class="hidden-sm-down">Visualization</span>
            </a>
            <div class="collapse show sub-menu" id="menu-visualization">
            <a class="list-group-item" routerLinkActive="active" routerLink="/visualization/tabular" data-parent="#menu-visualization"><i class="fa fa-table" aria-hidden="true"></i>Tabular</a>
            <a class="list-group-item" routerLinkActive="active" routerLink="/visualization/lineChart" data-parent="#menu-visualization"><i class="fa fa-line-chart" aria-hidden="true"></i>Line Chart</a>
            </div>
            <!-- END menu-visualization -->
        </div>
    </div>
    <main class="ui-g-10 col-md col-xs-11 p-l-2 p-t-2 no-padding">
        <p-growl></p-growl>
        <p-confirmDialog rejectLabel="Cancel" acceptLabel="Ok"></p-confirmDialog>
        <router-outlet></router-outlet>
    </main>
</div>
