<header>
  <nav id="main-nav"  class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img src="assets/logo.png" class="img-fluid rounded mx-auto d-block"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
                    <ul class="navbar-nav mr-auto text-uppercase">
                        <li class="nav-item active" routerLinkActive="active" routerLink="/sources-and-tags">
                            <a class="nav-link">sources &amp; tags</a>
                        </li>
                        <li class="nav-item" routerLink="/todo" routerLinkActive="active">
                            <a class="nav-link">grapher</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                      <li class="nav-item avatar dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0" alt="avatar image">
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                              <a class="dropdown-item" href="#">settings</a>
                              <a class="dropdown-item" href="#">logout</a>
                          </div>
                      </li>
                    </ul>
                </div>
            </nav>

</header>

<router-outlet></router-outlet>
