header {
  height: 6%;
}
.row.content {
  height: 94%;
}
@media (max-height:24em) {
  header {
    height: 40px;
  }
  .row.content {
    height: calc(100% - 40px);
  }
}

#sidebar .list-group-item {
    color: #ccc;
}
#sidebar .sub-menu {
  margin-left: 5%;
}
.list-group-item {
    background-color: transparent;
    border: 0px solid rgba(0,0,0,.125);
}
.list-group-item.active {
text-decoration: underline;
  }
#sidebar {
  background: #272c33;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #272c33;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before{
  color: #fff;
}
/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #272c33;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
}

/* level 2*/
#sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
}

/* level 3*/
#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

@media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}
#sidebar i.fa {
  width: 20px;
}
/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;

}

.nav-toggle {
  color: #272c33;
  padding-right: 20px;
}