

<header>
  <div class="container-fluid">    
    <div id="main-nav" class="row align-items-center">      
        <div class="col-sm-1"> 
          <img src="assets/logo.png" class="img-fluid rounded mx-auto d-block">             
        </div>
    
        <div class="col-sm-auto" routerLinkActive="active" routerLink="/sources-and-tags">
          <h1>SOURCES &amp; TAGS</h1>
        </div>
        <div class="col-sm-auto" routerLink="/todo" routerLinkActive="active">
          <h1>Others</h1>
        </div>        
      <div class="col">          
      </div>
      <div class="col-sm-2-auto">
        Username: {{profil?.username}}
      </div>
    </div>
  </div>
</header>


<router-outlet></router-outlet>
