<p-tree [value]="treeNodes" [loading]="loading" id="historian-opc-tag-tree" (onNodeExpand)="loadNode($event)">
    <ng-template let-node pTemplate="folder">
    <div class="">
        <div class='row no-gutters'>
            <div class='col-auto mr-auto text-truncate p-2 pointer'
            pTooltip="{{node.label}}" tooltipPosition="right"
            (click)="toggleExpandNode(node);">{{node.label}}</div>
        </div>
    </div>
    </ng-template>
    <ng-template let-node pTemplate="historian-tag" class="h-100">
    <div class="">
        <div class='row no-gutters'>
            <div class='col-auto mr-auto text-truncate p-2 pointer'
            pTooltip="{{node.label}}" tooltipPosition="right"
            (dblclick)="node.data.enabled=!node.data.enabled;toggleEnabled(node)">{{node.label}}</div>
            <div class='col-auto'>
                    <i class="fa fa-clock-o" aria-hidden="true" pTooltip="Sampling rate {{node.data.update_rate}}" tooltipPosition="right"><span class="update-rate"> {{node.data.update_rate}}</span></i>
                    <button pButton type="button" (click)="showEditDialog(node); $event.stopPropagation();"
                    class="mx-1 my-1"
                    icon="fa fa-edit"></button>
                    <button pButton type="button" (click)="deleteTag(node); $event.stopPropagation();"
                    class="mx-1 my-1"
                    icon="fa fa-trash"></button>
                    <p-inputSwitch [(ngModel)]="node.data.enabled" (click)="toggleEnabled(node);$event.stopPropagation();"></p-inputSwitch>
            </div>
        </div>
    </div>
    </ng-template>
    <ng-template let-node pTemplate="opc-tag">
    <div class="">
        <div class='row no-gutters'>
            <div class='col-auto mr-auto label-container text-truncate p-2 pointer'
            pTooltip="{{node.label}}" tooltipPosition="right"
            (dblclick)="node.data.enabled=true;toggleEnabled(node)">{{node.label}}</div>
            <div class='col-auto'>
                    <i class="fa fa-clock-o" aria-hidden="true" pTooltip="Update rate  {{node.data.update_rate}}" tooltipPosition="top"><span class="update-rate"> {{node.data.update_rate}}</span></i>
                    <button pButton type="button" (click)="showEditDialog(node); $event.stopPropagation();"
                    class="mx-1 my-1"
                    icon="fa fa-edit"></button>
                    <p-button (click)="deleteTag(node); $event.stopPropagation();"
                    styleClass="mx-1 my-1"
                    icon="fa fa-trash"
                    disabled="true"></p-button>
                    <p-inputSwitch [(ngModel)]="node.data.enabled" (click)="toggleEnabled(node);$event.stopPropagation();"
                    onLabel="On" offLabel="Off"></p-inputSwitch>
            </div>
        </div>
    </div>
    </ng-template>
    <ng-template let-node pTemplate="none">
      <div class="">
          <div class='row no-gutters'>
              <div class='col-auto mr-auto text-truncate p-2'
              pTooltip="No tag found" tooltipPosition="right">No tag found</div>
          </div>
      </div>        
    </ng-template>
</p-tree>
<!-- tag form edit -->
<p-dialog [(visible)]="displayEdit" [modal]="true" (onShow)="centerEditTagDialog()">
    <p-header>
        Edit tag from datasource : '{{datasourceId}}'
    </p-header>
    <app-edit-tag-form [questions]="tagEditQuestions" [item]="selectedTag" (submitted)="onTagModification($event)"></app-edit-tag-form>
    <p-footer>
    </p-footer>
</p-dialog>
