
<div style="margin-top: 8px">
    <button pButton type="button" label="Expand all" (click)="expandAll()" style="margin-right: .25em"></button>
    <button pButton type="button" label="Collapse all" (click)="collapseAll()" style="margin-right: .25em"></button>
    <button pButton type="button" label="Register selected tags" (click)="showRegisterDialog()"></button>
</div>
<p-tree [value]="treeNodes" selectionMode="checkbox" [(selection)]="selectedNodes" [loading]="loading">
    <ng-template let-node pTemplate="domain">
        {{node.label}} ({{node.children.length}} servers)
    </ng-template>
    <ng-template let-node pTemplate="server">
        {{node.label}} ({{node.children.length}} groups)
    </ng-template>
    <ng-template let-node pTemplate="group">
        {{node.label}} ({{node.children.length}} tags)
    </ng-template>
    <ng-template let-node pTemplate="historian-tag" class="h-100">
        <div class='row h-100 w-100 no-gutters'>
            <div class='col-lg col-md col-sm label-container text-truncate'
            pTooltip="{{node.label}}" tooltipPosition="right">{{node.label}}</div>
            <div class='col-lg-1 col-md-1 col-sm-1'>
                    <button pButton type="button" (click)="showDetailDialog(node.data)" class="align-middle h-100"
                    icon="fa fa-info-circle">
                        <!-- <i class="fa fa-info-circle" aria-hidden="true"></i> -->
                    </button>
            </div>
            <div class='col-lg-1 col-md-1 col-sm-1'>
                    <button pButton type="button" (click)="showDetailDialog(node.data)" class="align-middle h-100"
                    icon="fa fa-trash">
                        <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
                    </button>
            </div>
            <div class='col-lg-2 col-md-2 col-sm-2'>
                <p-inputSwitch [(ngModel)]="node.data.enabled"></p-inputSwitch>
            </div>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="opc-tag">
        <div class='row h-100 w-100 no-gutters'>
            <div class='col-lg col-md col-sm label-container text-truncate'
            pTooltip="{{node.label}}" tooltipPosition="right">{{node.label}}</div>
            <div class='col-lg-1 col-md-1 col-sm-1'>
                    <button pButton type="button" (click)="showDetailDialog(node.data)" class="align-middle h-100"
                    icon="fa fa-info-circle"></button>
            </div>
            <div class='col-lg-1 col-md-1 col-sm-1'>
                <p-button (click)="showDetailDialog(node.data)" class="align-middle h-100"
                icon="fa fa-trash"
                disabled="true"></p-button>
            </div>
            <div class='col-lg-2 col-md-2 col-sm-2'>
                <p-inputSwitch [(ngModel)]="node.data.enabled"></p-inputSwitch>
            </div>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="none">
        No tag found
    </ng-template>
    <ng-template let-node pTemplate="default">
        hi
    </ng-template>
</p-tree>
<!-- tag form -->
<p-dialog [(visible)]="displayRegister">
    <p-header>
        Save this/those tag(s) with following values
    </p-header>
    <app-tag-form [tags]="tagsInputForForm"
                    (submitted)="onTagSaved($event)"></app-tag-form>
    <p-footer>
    </p-footer>
</p-dialog>
<!-- tag detail -->
<p-dialog [(visible)]="displayTagDetail">
    <p-header>
        Tag details
    </p-header>
    <app-tag-detail [tag]="tagSelected"></app-tag-detail>
    <p-footer>
    </p-footer>
</p-dialog>
