
<div class="mx-auto" style="width: 20rem;">
    <button pButton type="button" label="Expand all" (click)="expandAll()" class="mx-2 my-2"></button>
    <button pButton type="button" label="Collapse all" (click)="collapseAll()" class="mx-2 my-2"></button>
    <!-- <button pButton type="button" label="Register selected tags" (click)="showRegisterDialog()"></button> -->
</div>
<p-tree [value]="treeNodes" [loading]="loading">
    <ng-template let-node pTemplate="domain">
        <div class="container">
        <div class='row'>
            <div class='col-auto mr-auto label-container text-truncate'
            pTooltip="{{node.label}}" tooltipPosition="right">{{node.label}} ({{node.children.length}} servers)</div>
            <div class='col-auto'>

                    <button pButton type="button" (click)="showRegisterDialogRecursive(node); $event.stopPropagation();"
                    class="mx-1 my-1 align-middle h-100 ui-button-primary"
                    icon="fa fa-edit"></button>
                    <button pButton type="button" (click)="deleteTags(node); $event.stopPropagation();"
                    class="align-middle h-100 ui-button-danger"
                    icon="fa fa-trash"></button>
                    <p-inputSwitch [(ngModel)]="node.data.enabled" (click)="$event.stopPropagation();"></p-inputSwitch>
            </div>

        </div>
    </div>
    </ng-template>
    <ng-template let-node pTemplate="server">
            <div class="container">
            <div class='row'>
            <div class='col-auto mr-auto label-container text-truncate'
            pTooltip="{{node.label}}" tooltipPosition="right">{{node.label}} ({{node.children.length}} groups)</div>
            <div class='col-auto'>
                    <button pButton type="button" (click)="showRegisterDialogRecursive(node); $event.stopPropagation();"
                    class="mx-1 my-1 ui-button-primary"
                    icon="fa fa-edit"></button>
                    <button pButton type="button" (click)="deleteTags(node); $event.stopPropagation();"
                    class="align-middle h-100 ui-button-danger"
                    icon="fa fa-trash"></button>
                    <p-inputSwitch [(ngModel)]="node.data.enabled" (click)="$event.stopPropagation();"></p-inputSwitch>
            </div>

        </div>
    </div>
    </ng-template>
    <ng-template let-node pTemplate="group">
            <div class="container">
        <div class='row'>
            <div class='col-auto mr-auto  text-truncate'
            pTooltip="{{node.label}}" tooltipPosition="right">{{node.label}} ({{node.children.length}} tags)</div>        
            <div class='col-auto'>
                <!-- <b>Update rate</b> -->
                <button pButton type="button" (click)="showRegisterDialogRecursive(node); $event.stopPropagation();"
                class="mx-1 my-1 ui-button-primary"
                icon="fa fa-edit"></button>
                <button pButton type="button" (click)="deleteTags(node); $event.stopPropagation();"
                class="mx-1 my-1 ui-button-danger"
                icon="fa fa-trash"></button>
                <p-inputSwitch [(ngModel)]="node.data.enabled" (click)="$event.stopPropagation();"></p-inputSwitch>
            </div>

        </div>
    </div>
    </ng-template>
    <ng-template let-node pTemplate="historian-tag" class="h-100">
            <div class="container">
        <div class='row'>
            <div class='col-auto mr-auto  text-truncate'
            pTooltip="{{node.label}}" tooltipPosition="right">{{node.label}}</div>
            <div class='col-auto'>
                    <!-- {{node.data.update_rate}} -->
                    <button pButton type="button" (click)="showRegisterDialogRecursive(node); $event.stopPropagation();"
                    class="mx-1 my-1 ui-button-primary"
                    icon="fa fa-edit"></button>
                    <button pButton type="button" (click)="deleteTag(node); $event.stopPropagation();"
                    class="mx-1 my-1 ui-button-danger"
                    icon="fa fa-trash"></button>
                    <p-inputSwitch [(ngModel)]="node.data.enabled" (click)="$event.stopPropagation();"></p-inputSwitch>
            </div>
            
        </div>
    </div>
    </ng-template>
    <ng-template let-node pTemplate="opc-tag">
            <div class="container">
        <div class='row'>
            <div class='col-auto mr-auto label-container text-truncate'
            pTooltip="{{node.label}}" tooltipPosition="right">{{node.label}}</div>
            <div class='col-auto'>
                    {{node.data.update_rate}}
                    <button pButton type="button" ((click)="showRegisterDialogRecursive(node); $event.stopPropagation();"
                    class="mx-1 my-1 ui-button-primary"
                    icon="fa fa-edit"></button>
                    <p-button (click)="showDetailDialog(node.data)"
                    styleClass="mx-1 my-1 ui-button-danger"
                    icon="fa fa-trash"
                    disabled="true"></p-button>
                    <p-inputSwitch [(ngModel)]="node.data.enabled"></p-inputSwitch>
            </div>
            
        </div>
    </div>
    </ng-template>
    <ng-template let-node pTemplate="none">
        No tag found
    </ng-template>
    <ng-template let-node pTemplate="default">
        hi
    </ng-template>
</p-tree>
<!-- tag form -->
<p-dialog [(visible)]="displayRegister" [modal]="true">
    <p-header>
        Save this/those tag(s) with following values
    </p-header>
    <app-tag-form [tags]="tagsInputForForm"
                    (submitted)="onTagSaved($event)"></app-tag-form>
    <p-footer>
    </p-footer>
</p-dialog>
<!-- tag detail -->
<p-dialog [(visible)]="displayTagDetail" [modal]="true">
    <p-header>
        Tag details
    </p-header>
    <!-- <app-tag-detail [tag]="tagClicked"></app-tag-detail> -->
    <p-footer>
    </p-footer>
</p-dialog>
