<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-12 ">

    <div class="input-group mb-3 filter">
      <div class="input-group-prepend">
        <span class="input-group-text text-uppercase bg-primary" id="inputGroup-sizing-default">Filter data sources</span>
      </div>
      <input type="search" class="form-control" id="search" placeholder="Type to filter data sources items..." (keyup)="update(search.value)" #search>
    </div>

  </div>

  <!-- Your filter query is : {{filterString}} -->
</div>
