<!-- {{question | json}} -->
  <!-- CHOOSE CONTROL TYPE -->
  <div [ngSwitch]="question.controlType" class="input-group input-group-sm mb-3">
    
    <div class="input-group-prepend">
      <span class="input-group-text bg-primary" id="question.key" [attr.for]="question.key">{{question.label}}</span>
    </div>

    <!-- TEXTBOX -->
    <ng-container *ngSwitchCase="'textbox'">
      <div [formGroup]="form">
        <input [formControlName]="question.key" class="form-control"
          [placeholder]="question.placeholder" [id]="question.key" [type]="question.type"
          [required]="question.required">
      </div>
    </ng-container>
    <!-- SELECT (DROPDOWN)-->
    <ng-container *ngSwitchCase="'dropdown'">
      <div [formGroup]="form">
        <select [id]="question.key" [formControlName]="question.key" class]="form-control" [required]="question.required">
          <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>
      </div>
    </ng-container>

    <!-- ARRAY -->
    <app-dynamic-form-question-array *ngSwitchCase="'array'" [question]="question"
        [form]="form"></app-dynamic-form-question-array>
  </div>
  <div class="errorMessage alert alert-danger" *ngIf="!isValid">{{question.label}} is required</div>

