<!-- {{question | json}} -->
  <!-- CHOOSE CONTROL TYPE -->
  <div [formGroup]="form"  [ngSwitch]="question.controlType" class="form-group mb-3  text-capitalize">

    <!-- TEXTBOX -->
    <ng-container *ngSwitchCase="'textbox'">
        <label *ngIf="!question.hidden" id="question.key" [attr.for]="question.key" for="question.key">{{question.label}}</label>
        <input [formControlName]="question.key" class="form-control"
          [placeholder]="question.placeholder" [id]="question.key" [type]="question.type"
          [required]="question.required" [readonly]="question.readonly">
    </ng-container>

    <!-- NUMBER -->
    <ng-container *ngSwitchCase="'number'">
      <label *ngIf="!question.hidden" id="question.key" [attr.for]="question.key" for="question.key">{{question.label}}</label>
      <input [formControlName]="question.key" class="form-control"
        [placeholder]="question.placeholder" [id]="question.key" [type]="'number'"
        [required]="question.required" [readonly]="question.readonly">
    </ng-container>

    <!-- BOOLEAN -->
    <ng-container *ngSwitchCase="'boolean'">
      <p-checkbox id="question.key" [formControlName]="question.key" binary="true" [label]="question.label"></p-checkbox>
    </ng-container>

    <!-- SELECT (DROPDOWN)-->
    <ng-container *ngSwitchCase="'dropdown'">
        <label *ngIf="!question.hidden" id="question.key" [attr.for]="question.key" for="question.key">{{question.label}}</label>
        <select [id]="question.key" [formControlName]="question.key" class]="form-control" [required]="question.required">
          <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
        </select>
    </ng-container>

    <!-- ARRAY -->
    <ng-container *ngSwitchCase="'array'">
    <label *ngIf="!question.hidden" id="question.key" [attr.for]="question.key" for="question.key">{{question.label}}</label>
      <app-dynamic-form-question-array [question]="question"
        [form]="form"></app-dynamic-form-question-array>
    </ng-container>
  </div>

  <div class="errorMessage alert alert-danger" *ngIf="!isValid">
    <div *ngIf="control.hasError('required')" class="error">
      {{question.label}} is required
    </div>
    <div *ngIf="control.hasError('min')" class="error">
      {{question.label}} is to low
    </div>
    <div *ngIf="control.hasError('max')" class="error">
      {{question.label}} is to high
    </div>
  </div>
