<div class="container-fluid h-100 text-white bg-secondary no-padding">
  <div class="row no-gutters">
    <div class="col-lg-12 col-md-12 datasource-dashboard-title bg-dark text-center">
      <h1>Datasources</h1>
    </div>
    <div class="row content no-gutters">
        <div class="col-lg-4 col-md-4 bg-secondary content">
            <div class="mt-0 h-100 left-panel">
              <div class="col-lg-12 col-md-12">
                  <app-search [placeHolder]="filterPlaceHolder" (queryString)="onFilterQuery($event)"></app-search>
              </div>
              <div class="col-lg-12 col-md-12">
                <button type="button" class="btn"
                  (click)="onClickAddDatasource()">
                  Add new datasource
                </button>
              </div>
              <div class="col-lg-12 col-md-12">
                  <app-datasources-list [selectedDatasource]="selectedDatasource"
                  (selectedDatasourceE)="onSelectDatasource($event)"></app-datasources-list>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 content">
            <div class="row no-gutters">
              <div class="col-lg-12 col-md-12 datasource-dashboard-title2 text-center">
                <h2>Datasource Detail</h2>
              </div>
              <div class="col-lg-12 col-md-12">
                  <p-accordion>
                      <p-accordionTab header="Tags Collected">
                        <app-opc-tag-tree [tags]="tags"></app-opc-tag-tree>
                      </p-accordionTab>
                      <p-accordionTab header="Datasource Configuration">
                        <button type="button" class="btn btn-outline-primary text-uppercase float-right" (click)="onClickAddDatasource()">Add Data source</button>
                        <app-datasource-form [datasource]="selectedDatasource"
                                            [isCreation]="isCreation"
                                            (submitted)="onSubmitted($event)"></app-datasource-form>
                      </p-accordionTab>
                  </p-accordion>
                  <!-- <div class="card h-100">
                      <div class="card-body">
                        <button type="button" class="btn btn-outline-primary text-uppercase float-right" (click)="onClickAddDatasource()">Add Data source</button>
                        <app-datasource-form [datasource]="selectedDatasource"
                                             [isCreation]="isCreation"
                                             (submitted)="onSubmitted($event)"></app-datasource-form>
                      </div>
                  </div> -->
              </div>
            </div>
          </div>
    </div>
    <!-- <div class="help-content col-lg-4" [ngClass]="{'col-md-4' : !isHelpHidden(), 'col-md-6 col-lg-6' : isHelpHidden()}" *ngIf="!isHelpHidden()">
      <div class="card h-100">
        <div class="card-body">
          <app-datasource-help></app-datasource-help>
        </div>
      </div>
    </div> TODO popup (dialog to show or hide) -->
  </div>
</div>
