/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  /* color: #2699FB; */
  background: #f1f2f7;
  margin-bottom: 3rem;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}
.form-group {
    margin-bottom: 0.3rem;
}
.text-muted {
    color: #2E99FB!important;
}
mark, .mark {
    background-color: yellow;
}
.logo {
  background-color: #BBDFFC;
}

.row {
  margin-bottom: 1rem;
}

.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.label-small label {
  font-size: 0.5rem;
  margin-bottom: 0.1rem;
}
.nav.nav-pills{
  background-color: #fff;
}
.navbar {
  padding: 0rem 1rem;
  line-height: 2.5;
}

.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  background-color: #fff;
  color: #2699FB;
}

.navbar-brand img {
  width: 100px;
}
.navbar {
    line-height: 3.4;
}
.navbar a{
  font-size: 0.7rem;
}
.navbar-nav .fa-question-circle:before{
  font-size: 1rem;
}
.nav.nav-pills a{
  font-size: 0.7rem;
}
#main-nav .nav-link {
  cursor: pointer;
}

.navbar .nav-item.avatar .dropdown-toggle img {
  height: 35px;
}

/*.ng-valid.required  */
.ng-valid[required] {
  border-left: 5px solid #42A948;
}

/* .form-group.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
} */

.form-control.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

/* data source list buttons */

.btn {
  display: inline-block;
  margin: .1rem .1rem;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0.5px solid #6c757d;
  /* padding: .375rem .75rem; */
  padding: .5rem .5rem;
  font-size: 0.5rem;
  line-height: 1.5;
  border-radius: 0rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-light {
  border: 0px solid transparent;
  /* color: #ffffff;
  background-color: #2699FB; */
  opacity: 1;
}
.input-group .bg-primary {
    color: white;
    font-weight: inherit;
    font-size: 0.5rem !important;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
    opacity: 1;
}
.datasource-btn {
  max-width: 33%;
  min-width: 33%;
}
.btn .badge {
    border-radius: 0;
}
.btn-primary {
  border: 0px solid transparent;
}

/* .btn-light:hover {
  border: 0px solid transparent;
  color: #ffffff;
  background-color: #2699FB;
} */

/* .badge-light {
  color: #ffffff;
  background-color: transparent;
} */

.badge-center-label {
  top: -8px;
  right: -5px;
  font-size: 8px !important;
}
.badge-top-right-label{
  top: -8px !important;
  right: 0px;
  font-size: 7px !important;
}

.badge-botttom-right-label{
  top: 8px !important;
  right: 42px;
  font-size: 7px !important;
}

.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

.btn-danger {
  font-size: 0.2rem;
  border-color: #dc3545;
}

.servername {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  width: 70%;
}
.datasources-list{
  overflow-y: scroll;
}
.filter {
  margin-bottom: 0;
}

.filter .input-group-text {
  font-size: 0.2rem;
  color: #ffffff;
}

.filter input {
  font-size: 0.8rem;
}

.filter i.fa.fa-filter {
  font-size: 0.8rem;
}
.footer .row {
  margin-bottom: 0;
}
.footer  {
  background-color: #ffffff;
}
.footer [class*="col-"]  {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.historian-tag:before {
  content: "\f15b";
  color: green;
  font-family: FontAwesome;
}
.in-dataset:before {
  content: "\f15b";
  color: blue;
  font-family: FontAwesome;
}
.input-group-container{
  display: block;
  width: 100%;
}
.input-group-prepend .input-group-text{
  font-size: 0.8rem !important;
}
.form-control, .input-group-text {

    border-radius: 0rem;
}

.alert {
  position: relative;
  padding: .25rem .25rem;
}
/* tree */
.ui-tree {
  width: 100%;
  min-width: 400px;
}
