/* You can add global styles to this file, and also import other style files */
body {
    font-size: 1em;
  }
.logo {
    background-color: #BBDFFC;
}
.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
