<div class="container-fluid h-100 list-container">
  <div class="row no-gutters">
    <div *ngFor="let datasource of datasources$ | async" (click)="onSelect(datasource)"
          class="col-lg-12 col-md-12 datasource-element">
      <div class="row no-gutters">
        <div class="col-lg col-md ">
          <app-button-labelled class="h-100 "
            [centerLabel]="datasource.id" [topRightLabel]="datasource.datasource_type"
            [isActive]="datasource.id === selectedDatasource.id">
          </app-button-labelled>
        </div>

        <div class="col-lg-2 col-md-2">
          <button type="button" class="btn"
          (click)="onDeleteDatasource(datasource)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
