.btn-light {
    border: 0px solid transparent;
    opacity: 1;
}
.list-container {
    overflow-y: auto;
    max-height: 90%;
}
.btn {
    display: inline-block;
    background-color: #f6f7f9;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px solid transparent;
    padding: .375rem .75rem;
    font-size: .9375rem;
    line-height: 1.5;
    border-radius: 0rem !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0 rgba(44,62,80,0);
}
.delete-datasource:hover {
    background-color: #272c33;
}