.btn-light {
    border: 0px solid transparent;
    opacity: 1;
}
.list-container {
    overflow-y: auto;
    max-height: 90%;
}
.btn {
    text-align: center;    
}
.btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0 rgba(44,62,80,0);
}
.btn:hover{
    background-color: #272c33;
}