<p-dataView #dv [value]="tags" [paginator]="true" [rows]="5" [pageLinks]="10"
[sortField]="sortField" [sortOrder]="sortOrder"
filterBy="data_type,description"
[loading]="loading"
[rowsPerPageOptions]="[5, 10, 25, 50, 100]"
[paginatorPosition]="'both'"
[layout]="layout"
[totalRecords]="totalRecords">
<!-- [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" -->
  <!-- HEADER -->
  <p-header><h2>List of Tags</h2>
    <!-- SORT INPUT -->
    <span>Sort by :</span>
    <p-dropdown [options]="sortOptions"  placeholder="Sort By" [(ngModel)]="sortField"
    (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
    <!-- FILTER INPUT -->
    <span>Filter by :</span>
    <input type="search" pInputText placeholder="Search by type" (keyup)="dv.filter($event.target.value)">    
    <!-- REFRESH RATE -->
    <span>Refresh every :</span>
    <p-dropdown [options]="refreshOptions"  placeholder="Refresh every" [(ngModel)]="refreshRate"
    (onChange)="onRefreshChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
    <!-- display option -->
    <span>Choose display :</span>
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-header>
  <!-- TEMPLATES -->
  <ng-template let-tag pTemplate="listItem">
      <app-tag-list [tag]="tag" [refreshRate]="refreshRate"></app-tag-list>
  </ng-template>
  <ng-template let-tag pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <app-tag-cell [tag]="tag" [refreshRate]="refreshRate"></app-tag-cell>
    </div>
  </ng-template>
  <!-- FOOTER -->
  <p-footer>
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-footer>
</p-dataView>
