
<h5 class="text-uppercase">DATA SOURCE LIST</h5>Select a DATA SOURCE to edit

<h6>editing dataset: {{dataSet?.name}}</h6>

<ul class="datasources">
  <li *ngFor="let datasource of datasources" (click)="onSelect(datasource)">
    <button type="button" class="btn btn-default">
      {{datasource.name}} ({{datasource.domain}}) {{datasource.type}}
    </button>

    <button type="button" class="btn btn-default" (click)="onAddToDataset(datasource)" *ngIf="!dataSetContain(datasource)">
      Add to dataset
    </button>
    
    <button type="button" class="btn btn-default" (click)="onRemoveFromDataset(datasource)" *ngIf="dataSetContain(datasource)">
      Remove from dataset
    </button>

    <button type="button" class="btn btn-default" (click)="onDeleteDatasource(datasource)">
      Remove Data Source
    </button>
  </li>
</ul>
 
