
<h5 class="text-uppercase">DATA SOURCE LIST</h5>Select a DATA SOURCE to edit

<h6>editing dataset: {{dataSet?.name}}</h6>


<div class="row" *ngFor="let datasource of datasources$ | async" (click)="onSelect(datasource)">
  <button type="button" class="btn btn-light text-uppercase">
    <span class="servername">{{datasource.description}}</span> <span class="badge badge-light">{{datasource.type}}</span>
  </button>

  <button type="button" class="btn btn-outline-primary text-uppercase" (click)="onAddToDataset(datasource)" *ngIf="!dataSetContain(datasource)">
    ADD TO DATA SET
  </button>

  <button type="button" class="btn btn-danger text-uppercase" (click)="onRemoveFromDataset(datasource)" *ngIf="dataSetContain(datasource)">
    REMOVE FROM DATA SET
  </button>

  <button type="button" class="btn btn-outline-danger text-uppercase" (click)="onDeleteDatasource(datasource)">
    remove data source
  </button>
</div>
