


<!-- <h6>editing dataset: {{dataSet?.name}}</h6> -->


<div *ngFor="let datasource of datasources$ | async" (click)="onSelect(datasource)">

  <button type="button" class="btn btn-light text-uppercase datasource-btn"
          title="{{datasource.description}} {{datasource.datasource_type}}"
          [class.active]="datasource.id === selectedDatasource.id">
    <span class="servername">{{datasource.description}}</span> <span class="badge badge-light">{{datasource.datasource_type}}</span>
  </button>

  <button type="button" class="btn btn-outline-primary text-uppercase" 
          (click)="onAddToDataset(datasource)" *ngIf="!dataSetContain(datasource)"
          i18n="add a data source to current data set|button to add the data source to the selection">
    ADD TO DATA SET
  </button>

  <button type="button" class="btn btn-danger text-uppercase" 
          (click)="onRemoveFromDataset(datasource)" *ngIf="dataSetContain(datasource)"
          i18n="remove a data source from current data set|button to remove the data source from the selection">
    REMOVE FROM DATA SET
  </button>

  <button type="button" class="btn btn-outline-danger text-uppercase" 
          (click)="onDeleteDatasource(datasource)"
          i18n="remove a data source definitely from the application|button to remove the data source from the application">
    remove data source
  </button>

</div>
