<div class="ui-g-12">
    <div style="width: 20rem;">
        <button pButton type="button" label="Expand all" (click)="expandAll()" class="mx-2 my-2"></button>
        <button pButton type="button" label="Collapse all" (click)="collapseAll()" class="mx-2 my-2"></button>
    </div>
    <p-tree [value]="treeNodes" selectionMode="checkbox" [(selection)]="selectedNodes"
        (onNodeSelect)="selectNode($event)" (onNodeUnselect)="unSelectNode($event)" (onNodeExpand)="loadNode($event)" [loading]="loading">
        <ng-template let-node pTemplate="folder">
            {{node.label}}
        </ng-template>
        <ng-template let-node pTemplate="tag">
            {{node.label}}
        </ng-template>
    </p-tree>
</div>
