<div class="ui-g-12">
    <div class="mx-auto" style="width: 20rem;">
        <button pButton type="button" label="Expand all" (click)="expandAll()" class="mx-2 my-2">Expand all</button>
        <button pButton type="button" label="Collapse all" (click)="collapseAll()" class="mx-2 my-2">Collapse all</button>
        <!-- <button pButton type="button" label="Collapse all" (click)="saveSelection()">Save selection</button>
        <button pButton type="button" label="Collapse all" (click)="revertSelection()">Revert selection</button> -->
    </div>
    <p-tree [value]="treeNodes" selectionMode="checkbox" [(selection)]="selectedNodes"
        (onNodeSelect)="selectNode($event)" (onNodeUnselect)="unSelectNode($event)" (onNodeExpand)="loadNode($event)" [loading]="loading">

        <ng-template let-node pTemplate="default">
            {{node.label}} (type default)
        </ng-template>
        <ng-template let-node pTemplate="tag">
            {{node.label}} (type tag)
        </ng-template>
    </p-tree>
</div>
<!-- Selected Tags
     [propagateSelectionUp]="false" [propagateSelectionDown]="true"
    draggableNodes="true" droppableNodes="true" draggableScope="allTree" droppableScope="sTree"
<p-tree [value]="[]" selectionMode="checkbox" [(selection)]="selectedNodes"
        [propagateSelectionUp]="false" [propagateSelectionDown]="true"
        (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnSelect($event)"
        (onNodeExpand)="loadNode($event)"
        draggableNodes="true" droppableNodes="true" draggableScope="sTree" droppableScope="allTree">

    <ng-template let-node  pTemplate="default">
        {{node.label}} (type default)
    </ng-template>
    <ng-template let-node  pTemplate="tag">
        {{node.label}} (type tag)
    </ng-template>
</p-tree> -->
