.hurence-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.hurence-tooltip .hurence-tooltiptext {
  visibility: hidden;
  /* width: 120px; */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  /*position tooltip to bottom*/
  width: 230px;
  top: calc(100% + 5px);
  left: calc(50%); 
  margin-left: -105px;
  /* margin-left: calc(- attr(width / 2) - 5px);  */
}

/* Show the tooltip text when you mouse over the tooltip container */
.hurence-tooltip:hover .hurence-tooltiptext {
  visibility: visible;
}
/*ARROW FOR TOOLTIP*/
.hurence-tooltip .hurence-tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  /* margin-left: -5px; */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
