<span>Choose your selection : </span>
<p-dropdown [options]="selectionOptions"  placeholder="please create a selection" 
        [(ngModel)]="tagSelection"
        [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>        
<button type="button" (click)="showDialogTagManagement()" class="btn btn-info btn-tag-selection">
  ...
</button>
<p-dialog [(visible)]="displayTagManagement" [resizable]="true">
    <p-header>
        Manage your selection
    </p-header>    
    <app-selection-dashboard [(tagSelection)]="tagSelection" [(selectionOptions)]="selectionOptions"></app-selection-dashboard>
    <p-footer>
    </p-footer>
</p-dialog>
